body {
  min-height: 100vh;
  display: flex;
  margin: 0;
  background-image: url('../img/fondo-admin.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.sidebar {
  width: 300px;
  background-color: #343a40;
  color: white;
  padding: 20px 0;
}

.sidebar a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
}

.sidebar a:hover {
  background-color: #495057;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
}